<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <%- include('../partials/_nav.ejs') %>
  <section id="sign-in">
    <h1>Sign in</h1>
    <form id="sign-in-form" action="/auth/sign-in" method="POST">
      <% if (error) { %>
      <span style="color:red;margin:2rem;"> <%= error %></span>
      <% } %>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />
      <div class="btn-container">
        <button type="submit">Sign in</button>
      </div>
    </form>
    <a id="sign-up-link" href="/auth/sign-up">

      Sign up

    </a>
  </section>
</body>

</html>