/* ///////////////// */
/* Navigation */
/* ///////////////// */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #010109;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(242, 242, 242, 1);
  -moz-box-shadow: 0px 0px 11px 0px rgba(242, 242, 242, 1);
  box-shadow: 0px 0px 11px 0px rgba(242, 242, 242, 1);

  button {
    margin: 0;

    a:hover {
      background-color: #5f583d;
      color: #f2f2f2;
    }

    &:hover {
      background-color: #5f583d;
      color: #f2f2f2;
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    display: none;

    a {
      text-decoration: none;
      color: #f2f2f2;

      &:hover {
        color: #dfa315;
      }
    }
  }
 #nav-hamburger {
    z-index: 20;
    right: 2rem;
    top: 50%;
    transform: translate(0,-50%);
  }
}
#mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  left: 50%;
  top:0;
  // transform: translate(-50%,0);
  width: 100vw;
  height:100svh;
  transform: translate(-50%,-200%);
  transition: .5s all ease;


  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
  }
} #mobile-nav.nav.move {
  transition: .4s all ease;
  transform: translate(-50%,0);

}
  #nav-hamburger {
    position: fixed;
    top:2rem;
    right:3rem;
    z-index: 30;
   
  }
#logo {
  width: 8rem;
  margin-left: 2rem;
}

#coins-container {
  display: flex;
  align-items: center;

  #coins {
    width: 8rem;
  }

  #coin-count {
    position: relative;
    left: -1rem;
  }
}

.profile-img-container {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

#profile-dropdown {
  background-color: #333;
  border-radius: 8px;
  position: absolute;
  top: 10rem;
  right: 3rem;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(242, 242, 242, 1);
  -moz-box-shadow: 0px 0px 11px 0px rgba(242, 242, 242, 1);
  box-shadow: 0px 0px 11px 0px rgba(242, 242, 242, 1);
  /* animation: fade-in-from-top 0.3s all ease forwards; */

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

    li {
      padding: 1rem;

      &:nth-child(2) {
        border-top: #444 solid 1px;
        border-bottom: #444 solid 1px;
      }

      &:hover {
        // Add any hover styles here
      }
    }

    a {
      text-wrap: nowrap;
    }
  }
}

@media (min-width: 425px) {
  nav {
    ul {
      a {
        color: yellow;
        font-size: 1.25rem;
      }
    }
  }
}

@media (min-width: 825px) {
  #mobile-nav, #nav-hamburger {
    display: none;
  }
  nav {
    ul {
      display: flex;

      a {
        color: blue;
      }
    }
  }
  #logo {
  
    margin-left: 8rem;
  }
}

@media (min-width: 992px) {
  nav {
    ul {
      a,li {
        color: orange;
      
      }
    }
  }
}

@media (min-width: 1024px) {
  nav {
    ul {
      a,li {
        font-size: 1.5rem;
        color: red;
      }
    }
  }
}

@media (min-width: 2000px) {
  nav {
    ul {
      a {
        color: pink;
      }
    }
  }
}

@media (min-width: 2500px) {
  nav {
    ul {
      a {
        color: teal;
      }
    }
  }
}

@media (min-width: 3000px) {
  nav {
    ul {
      a {
        color: silver;
      }
    }
  }
}
