<nav>
  <a href="/">
    <img id="logo" src="/images/brand/logo.webp" alt="" />
  </a>
  <ul>
    <% if (user) { %>
     
    <li style="display: flex; align-items:center;">quick menu <i id="sidenav" class="fa-solid fa-bolt"></i></li>
    <li><a href="/lineups/new">create a lineup</a></li>
    <li><a href="/lineups/<%= user._id %>">my lineups</a></li>
    <li><a href="/lineups/friends">friends' lineups</a></li>
    <li><a href="/lineups/explore">explore lineups</a></li>
    <li id="coins-container">
      <img id="coins" src="/images/misc/coins.svg" alt="" />
      <a id="coin-count" href="/lineups/explore">277</a>
    </li>
    <li>
      <div class="profile-img-container">
        <img id="profile-img" src="/images/misc/default-user.jpg" alt="" />
      </div>
    </li>
    <% } else { %>
    <li><a href="/lineups/new">create a lineup</a></li>
    <li><a href="/auth/sign-up"> Sign up </a></li>
    <li>
  
      <button >
        <a href="/auth/sign-in"> Sign in </a>
       
      </button>
    </li>
    <% } %>
  </ul>
  <% if (user) { %>
  <div class="hide" id="profile-dropdown">
    <ul>
      <li>
        <a href="/profiles/<%= user._id %>">edit profile</a>
      </li>
      <li>
        <a href="/friends">add friends</a>
      </li>
      <li>
        <a href="/auth/sign-out">sign out</a>
      </li>
    </ul>
  </div>
  <% } %>
</nav>
<i id="sidenav" class="fa-solid fa-bolt mobile"></i>
 <div id="nav-hamburger" class="hamburger-container">
  <div class="bar "></div>
</div>

 
<nav id="mobile-nav">
  <ul class="mobile-nav-list">
    <% if (user) { %>
    <li><a href="/lineups/new">create a lineup</a></li>
    <li><a href="/lineups/<%= user._id %>">your lineups</a></li>
    <li><a href="/lineups/friends">friends' lineups</a></li>
    <li><a href="/lineups/explore">explore lineups</a></li>
    <li id="coins-container">
      <img id="coins" src="/images/misc/coins.svg" alt="" />
      <a id="coin-count" href="/lineups/explore">277</a>
    </li>
    <li>
      <div class="profile-img-container">
        <img id="profile-img" src="/images/misc/default-user.jpg" alt="" />
      </div>
    </li>
    <% } else { %>
    <li><a href="/lineups/new">create a lineup</a></li>
    <li><a href="/auth/sign-up"> Sign up </a></li>
    <li>
  
      <button >
        <a href="/auth/sign-in"> Sign in </a>
       
      </button>
    </li>
    <% } %>
  </ul>
</nav>