<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lineup Legends</title>
  <link rel="icon" href="/images/brand/logo.webp" type="image/x-icon">
</head>
  <link rel="stylesheet" href="/styles/style.css" />
  <script
    defer
    src="https://kit.fontawesome.com/b62045f2a8.js"
    crossorigin="anonymous"
  ></script>
  <script defer src="/js/user-profile.js"></script>
  <script defer src="/js/nav-hamburger.js"></script>
</head>
