<aside class="sidebar">
  <div class="hamburger-container"><div class="bar close"></div></div>
  <!-- <span>filter gallery</span> -->
  <h3>Quick Menu</h3>
  <!-- style -->
  <nav>
    <ul>
      <a href="#your-lineups"><li>Your Lineups</li></a>
      <hr>
      <a href="#featured-lineups"><li>Featured Lineups</li></a>
      <hr>
      <a href="#card-collection"><li>Card Collection</li></a>
      <hr>
      <a href="#direct-messages"><li>Direct Messages</li></a>
      <hr>
      <a href="#friends"><li>Friends</li></a>
      <hr>
      <a href="#explore"><li>Explore</li></a>
      <hr>
      <a href="#notifications"><li>Notifications</li></a>
   
    </ul>
  </nav>
  <ul id="notifications-modal">
    <a href="#messages"><li>Messages: 2</li></a>
    <hr>
    <a href="#votes"><li>Votes: 3</li></a>
    <hr>
    <a href="/friends/<%= user._id %>/friend-requests"><li>Friend Requests: 4</li></a>
    <hr>
    <a href="#achievements"><li>Achievements: 0</li></a>
  </ul>
</aside>
