#error-404 {
    .text-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      h1 {
        font-size: 6rem;
      }
  
      p {
        font-size: 3rem;
      }
    }
  }
  
  #error-404-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("/images/misc/chef-harden-bazemore.jpeg");
    background-size: cover;
    background-position: 0%;
    filter: brightness(50%);
    height: 100svh;
    width: 100vw;
  }
  