#featured-landing {
  margin-top: 8rem;
  .text-container {
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 1;
  }
}

@media (min-width: 1024px) {
  #featured-landing {
    .text-container {
    top: 0;
    width: 70%;
    }
  }
}
