@use '../abstracts/' as *;

#profile {
  .banner {
    &-container {
      position: relative;
      width: 100vw;
      .bg {
        position: absolute;
      }
    }
    display: flex;

    justify-content: space-between;
    width: 100vw;
    max-width: 120rem;
    margin: auto;
    padding: 1rem;
    > div {
      width: 100%;
    }
  }
  .lineup-container {
    width: 100vw;
  }#profile-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#username-p {
  margin: 1rem 2rem;
  width: auto;
  font-size: 1.5rem;
}

#gear {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 2.5rem;
  right: 1rem;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  button {
    margin: 1rem;
    width: 100px;
    padding: 8px;
  }
  .btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-2,
  &-3 {
    // width: 100vw;
    flex-direction: row;
    position: relative;
    left: -4rem;
    justify-content: space-around;
    font-size: 1.5rem;
  }
}
.row-1 {
  position: relative;
}
.row-2 a {
  color: #f2f2f2;
  width: 100%;
}

.row-3 span{
  color: #d6d6d690;
}
.lineup-container span {
  color: $highlight-gold;
}
#bio {
  margin: 4rem auto;
  font-size: 1.25rem;
  line-height: 3.25rem;
  padding: 1.5rem;
}
.pf {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 1px #f2f2f290;
  width: 90%;
  margin: 1rem auto;
  &-head {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    div {
      padding: 1.5rem 2rem;
      cursor: pointer;

      span {
        margin-left: 1rem;
        text-transform: capitalize;
        font-size: 1.1rem;
      }
    }
  }
  &-body {
    .social-media {
      ul {
      }
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        background-color: #4f4f4f90;
        margin: 1.5rem 0;
        border-radius: 8px;
        span {
          font-size: 1.5rem;
        }
        button {
          margin: 0 0 0 2rem;
          min-width: 8rem;
        }
      }
    }
  }
}
}



@media (min-width: 425px) {
}

@media (min-width: 1024px) {
  #profile {
    .banner {
      flex-direction: row;
    }
  }

  #profile-img {
    width: 150px;
    height: 150px;
  }
  #username-p {
    margin: 0 2rem;
  }

  .row {
    flex-direction: row;

    button {
      width: 15rem;

      margin: 0 1rem;
    }
  }

  .row-2 {
    width: 50%;
    margin: auto;
  }

  .pf {
    &-head {
      div {
        span {
          font-size: 2rem;
        }
      }
    }
    &-body {
      .social-media {
        ul {
        }
        li {
          min-width: 40rem;
          span {
            font-size: 2rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
}

@media (min-width: 2500px) {
}
