/* welcome */
#welcome {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .left img {
    width: 55vw;
  }
  .right {
    width: 35%;
    padding: 3rem;
    margin-left: 15rem;
  }
}
