<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
  <%- include('./partials/_nav.ejs') %>
<section id="index"></section>
    <% if (user) { %>
    <h1>Welcome to the app, <%= user.username %>!</h1>

    <% } else { %>
    <h1>Welcome to the app, guest.</h1>
    <p>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/sign-in">Sign in</a>.
    </p>
    <% } %>

  </body>
</html>
