<section class="section-landing" id="add-friends-landing">
  <div class="left">
    <img
      src="/images/landing/magic-and-bird-friends.jpeg"
      alt="Larry Bird and Magic Johnson shaking hands"
    />
  </div>
  <div class="right">
    <h1>add friends</h1>
    <p>
      Expand your network by adding friends on Lineup Legends. Follow their
      lineup updates, compete in friendly challenges, and stay connected through
      your shared passion for fantasy basketball.
    </p>
  </div>
</section>
