<section class="section-landing" id="commenting">
  <div class="text-container">
      <h1>Commenting on posts</h1>
      <p>
        Foster discussions and provide feedback by leaving comments on your friends'
        and other users' lineups. Share tips, praise great picks, or suggest
        improvements to help everyone build better lineups.
      </p>
  </div>
  <div class="bg"></div>
</section>
