<section class="section-landing" id="featured-landing">
    <div class="text-container">
        <h1>Featured Lineups</h1>
        <p>
          Showcase your fantasy basketball prowess by sharing your lineups on social
          media or via text messages. Engage your friends and followers, and maybe
          even recruit some new competitors to join Lineup Legends.
        </p>
    </div>
    <div class="bg"></div>
  </section>
  