<section class="section-landing" id="gamble-landing">
  <div class="left">
    <h1>gamble for a player</h1>
    <p>
      Take a chance to enhance your lineup by gambling for a new player. You
      could get a player one level higher or risk getting a lower-level player.
      Value 1 players can only be gambled for fellow value 1 players, adding an
      extra layer of strategy. You may only gamble 3 times per lineup.
    </p>
  </div>
  <div class="right">
    <img src="/images/landing/jordan-cigar.jpg" alt="Michael Jordan celebrating his 4th NBA finals with a cigar" />
  </div>
</section>
