<section class="section-landing" id="rating-landing">
  <div class="left">
    <h1>Upvoting and Rating</h1>
    <p>
      Engage with the community by upvoting or downvoting lineups you see.
      Highlight the most popular and highest-rated lineups to help users
      discover top strategies and standout creations
    </p>
  </div>
  <div class="right">
    <img
      src="/images/landing/wemby.png"
      alt="create-linup view"
    />
  </div>
</section>
