<section class="section-landing" id="welcome">
  <div class="left">
    <img 
    src="/images/landing/create-lineup-screenshot.png"
    alt="create-lineup view"
    srcset="/images/landing/create-lineup-mobile.png 768w, /images/landing/create-lineup-screenshot.png 769w"
    sizes="(max-width: 768px) 100vw, 50vw"
  />
  </div>
  <div class="right">
    <h1>Welcome to Lineup Legends</h1>
    <p>
      the ultimate fantasy basketball lineup creation and management platform.
      Start by creating your lineup within a set budget, choosing from a pool of
      past and present players. Each player in their value tier is randomly
      selected to ensure a fair and exciting experience. Strategically manage
      your budget and player selections to build the best possible team. Engage
      with the community by sharing your lineups, upvoting others, and earning
      rewards for highly rated lineups. Get in your GM bag today and create a
      lineup!
    </p>
  </div>
</section>
