@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #010109;
  color: #fff;
  text-align: center;
}

section {
  margin-top: 10rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* ///////////////// */
/* Links */
/* ///////////////// */
a {
  color: #ffc107;
  text-decoration: none;
  font-size: 1.6rem;
}
a:hover {
  color: #ffc107;
}

/* ANIMATIONS */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-from-top-positioning {
  from {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
@keyframes fade-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-out {
  animation: fade-out 1s ease forwards;
}

.fade-in.quick {
  animation: fade-in 0.3s ease forwards;
}

.fade-in-from-left {
  animation: fade-in-from-left 0.6s ease forwards;
}

.fade-in-from-top {
  animation: fade-in-from-top 0.3s ease forwards;
}

.loader {
  top: 3rem;
  right: 15rem;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  animation: rotate 1s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #f2f2f2;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: #dfa315;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
h1,
h2 {
  font-family: "Stick No Bills", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.4rem;
  margin: 1rem 0;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 2.4rem;
    margin: 1rem 0;
  }
}
.hide {
  display: none !important;
}

.static {
  position: static !important;
}

.reject {
  background-color: rgb(215, 66, 66);
}

#back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: rgba(186, 186, 186, 0.1568627451);
  transition: 0.2s all ease;
}
#back-to-top:hover {
  background-color: rgba(202, 202, 202, 0.3568627451);
}
#back-to-top * {
  font-size: 2rem;
}

/* BTNS */
#confirm-player-to-gamble a {
  color: #f2f2f2;
}

.disabled-btn,
.disabled-btn:hover {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #4f4b3a;
}

.cancel-btn {
  color: #f2f2f2;
}
.cancel-btn:hover {
  color: #f2f2f2;
}

.lineup-actions button:hover {
  background-color: #c8af42;
}
.lineup-actions .lineup-btn.share {
  background-color: #aaa95f;
}
.lineup-actions .award-btn-container .award-btn {
  background-color: #968553;
}
.lineup-actions .award-btn-container .award-btn.featured {
  background-color: #ffc107;
}
.lineup-actions .comment-btn {
  background-color: #756b34;
}

/* Comment section */
#comment-section {
  margin-top: 20px;
}

.lineup-container.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#comment-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}
#comment-input-form input[type=textarea] {
  background-color: #272729;
  color: #d7dadc;
  border: 1px solid #343536;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 1rem;
  width: 100%;
}
#comment-input-form button {
  background-color: #3a3a3c;
  color: #d7dadc;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  margin-right: 5px;
}
#comment-input-form button:hover {
  background-color: #4a4a4c;
}

#comment-search {
  width: 100%;
  background-color: #272729;
  color: #d7dadc;
  border: 1px solid #343536;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 20px;
}
#comment-search + i {
  position: relative;
  left: -3rem;
  color: #9f9f9f;
  font-size: 1.5rem;
}

.comments-container {
  display: flex;
  flex-direction: column;
}

.view-all,
.view-featured {
  margin: 2rem 0;
  font-size: 1.33rem;
  cursor: pointer;
}

.comment {
  background-color: #272729;
  border: 1px solid #343536;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
.comment header {
  display: flex;
  align-items: center;
  margin-bottom: 6px !important;
}
.comment .img-container {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.comment .img-container img {
  width: 100%;
  border-radius: 50%;
}
.comment .comment-username {
  font-size: 14px;
  color: #d7dadc;
  margin-right: 8px;
}
.comment .comment-timestamp {
  font-size: 12px;
  color: #818384;
}
.comment .comment-text p {
  font-size: 1.4rem;
  color: #d7dadc;
  margin: 0;
}
.comment .comment-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.comment .comment-footer .lineup-actions {
  display: flex;
  align-items: center;
}

/* thread section */
.thread-container {
  position: relative;
  left: 10rem;
  top: 5rem;
  border-left: solid 2px rgba(242, 242, 242, 0.2274509804);
  padding-left: 3rem;
  margin-bottom: 15rem;
}
.thread-container .thread-comment {
  margin: 3rem 0;
}
.thread-container .thread-comment header {
  display: flex;
  align-items: center;
  margin-bottom: 6px !important;
}
.thread-container .thread-comment .img-container {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.thread-container .thread-comment .img-container img {
  width: 100%;
  border-radius: 50%;
}
.thread-container .thread-comment .comment-username {
  font-size: 14px;
  color: #d7dadc;
  margin-right: 8px;
}
.thread-container .thread-comment .comment-timestamp {
  font-size: 12px;
  color: #818384;
}
.thread-container .thread-comment .thread-text p {
  font-size: 1.4rem;
  color: #d7dadc;
  margin: 0;
}
.thread-container .show-replies {
  cursor: pointer;
  font-size: 1.25rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

.original-poster {
  font-size: 1.25rem;
  color: #d4b65c;
  margin-right: 6px;
}

/* ///////////////// */
/* Grid for Lineup Creation */
/* ///////////////// */
#create-lineup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#create-lineup .left-container {
  margin: 2rem auto;
  width: 100%;
  max-width: 80rem;
}
#create-lineup .right-container {
  width: 100%;
  margin: auto;
}
#create-lineup h2 {
  margin-right: 3rem;
}
#create-lineup header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#create-lineup header span {
  font-size: 3rem;
}
#create-lineup .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.row-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.player-container {
  position: relative;
}

.cell {
  width: 4rem;
  height: 4rem;
  margin: 0 0.5rem;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: #f2f2f2;
}
.cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.player-name {
  position: absolute;
  left: 50%;
  transform: translateX(-55%);
  text-align: center;
  margin: 0.5rem;
}
.player-name span {
  display: block;
  text-wrap: wrap;
  font-size: 1rem;
}

#confirm-container {
  display: flex;
  justify-content: center;
}

.selected-players {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  gap: 3px;
}

.selected-cell {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-player-btn {
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
  background-color: rgb(216, 38, 38);
  color: #f2f2f2;
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 10;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}
.remove-player-btn * {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dim-player {
  filter: brightness(50%) grayscale(100%);
}

@media (max-width: 375px) {
  .cell {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 500px) {
  .selected-players {
    gap: 2.5%;
  }
}
@media (min-width: 825px) {
  .cell {
    width: 8rem;
    height: 8rem;
  }
  .selected-players {
    gap: 5%;
  }
  .remove-player-btn {
    top: -25%;
    left: -15%;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (min-width: 992px) {
  #create-lineup {
    flex-direction: row;
  }
  .cell {
    width: 7rem;
    height: 7rem;
  }
}
@media (min-width: 1024px) {
  #create-lineup .right-container {
    width: 30%;
    margin-right: auto;
  }
  #create-lineup header span {
    position: absolute;
    top: 2.5%;
    right: 15%;
  }
  .player-name span {
    font-size: 1.2rem;
  }
}
@media (min-width: 1440px) {
  .cell {
    width: 8rem;
    height: 8rem;
  }
}
/* ///////////////// */
/* Forms */
/* ///////////////// */
#create-lineup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #333;
  padding: 1rem;
  border-radius: 0.5rem;
}

#sign-up-form,
#sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sign-up-form input,
#sign-in-form input {
  margin: 8px 0 2rem 0;
}

#sign-in-link,
#sign-up-link {
  position: relative;
  top: 5rem;
  color: #f2f2f2;
}

label {
  font-size: 1.4rem;
}

input {
  font-size: 1.4rem;
  padding: 0.5rem;
  border: 0.1rem solid #555;
  border-radius: 0.5rem;
  max-width: 30rem;
}

button,
.vote-form {
  background-color: #8c8258;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 0.5rem;
  min-width: 6rem;
}

.vote-form {
  gap: 2rem;
}

@media (min-width: 1024px) {
  button,
  .vote-form {
    font-size: 1.6rem;
  }
}
/* ///////////////// */
/* Edit Lineup */
/* ///////////////// */
#user-lineups a {
  color: #fff;
}
#user-lineups footer {
  display: flex;
}

#edit-lineup > div {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 3rem;
}
#edit-lineup #reorder-lineup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #1c1d1c;
  width: 20vw;
  padding: 1.5rem;
  border-radius: 8px;
  margin-left: 30%;
}
#edit-lineup #reorder-lineup-form select {
  height: 3rem;
  background-color: #dfdfdf;
  cursor: pointer;
}
#edit-lineup header {
  margin-bottom: 4rem;
}
#edit-lineup .lineup-edit-close {
  top: -3rem;
  right: 0;
  color: rgb(221, 90, 90);
  font-size: 2.25rem;
}
#edit-lineup .lineup-card {
  background-color: rgba(186, 186, 186, 0.1568627451);
  border-radius: 10px;
  padding: 35px 15px 15px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 60vw;
  /* width: 100%; */
}
#edit-lineup .player {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#edit-lineup .lineup-actions {
  justify-content: center;
  gap: 2rem;
}
#edit-lineup .lineup-actions button {
  min-width: 8rem;
}

.vote-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
}
.vote-form .lineup-btn {
  width: 100%;
  padding: 5px 0;
}
.vote-form .lineup-btn.delete,
.vote-form .lineup-btn .edit-modals.delete button {
  background-color: rgb(221, 90, 90);
}
.vote-form .lineup-btn.delete:hover,
.vote-form .lineup-btn .edit-modals.delete button:hover {
  background-color: rgb(174, 70, 70);
}
.vote-form .lineup-btn.gamble {
  background-color: #dfa315;
}
.vote-form .lineup-btn.gamble:hover {
  background-color: #bd8a12;
}
.vote-form .lineup-btn.share span {
  margin: 0 1rem;
}

.edit-modals,
.thread-modals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  width: 50vw;
  max-width: 50rem;
  background-color: #555;
  color: #f2f2f2;
  border-radius: 4px;
}
.edit-modals.edit-modals,
.thread-modals.edit-modals {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.edit-modals.edit-modals a,
.edit-modals.edit-modals button,
.thread-modals.edit-modals a,
.thread-modals.edit-modals button {
  margin: 2rem;
}
.edit-modals.thread-modals,
.thread-modals.thread-modals {
  margin: auto;
  padding: 1rem;
  width: auto;
}
.edit-modals.thread-modals a,
.thread-modals.thread-modals a {
  margin-right: 1rem;
}

.player-text.gamble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
}
.player-text.gamble span:first-child {
  font-size: 2rem;
  margin: 1rem 0;
}

.lineup-players.gamble {
  position: relative;
}

.select-gamble {
  outline: solid 5px gold;
}

.hamburger-container {
  position: absolute;
  width: 25px;
  height: 25px;
  right: -14rem;
  top: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
.hamburger-container .bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  width: 25px;
  height: 2px;
  transition: 0.3s all ease;
}
.hamburger-container .bar::before, .hamburger-container .bar::after {
  content: "";
  position: absolute;
  background-color: #f2f2f2;
  width: 25px;
  height: 2px;
  transition: 0.3s all ease;
  left: 0;
}
.hamburger-container .bar::before {
  top: -6px;
}
.hamburger-container .bar::after {
  top: 6px;
}
.hamburger-container .bar.close {
  background-color: transparent; /* Hide the middle bar */
}
.hamburger-container .bar.close::before {
  transform: rotate(45deg);
  top: 0;
}
.hamburger-container .bar.close::after {
  transform: rotate(-45deg);
  top: 0;
}

#sidenav {
  margin-left: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

#sidenav.mobile {
  position: fixed;
  top: 2.25rem;
  right: 8rem;
  z-index: 40;
}

.title-info {
  width: 90%;
}
.title-info.full {
  width: 100%;
  transition: 0.2s ease all;
}

.lineup-container.full {
  width: 100%;
  transition: 0.2s ease all;
}

@media (min-width: 825px) {
  #sidenav.mobile {
    display: none;
  }
}
#search-friends,
#handle-requests {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search-friends #search-friends-input,
#handle-requests #search-friends-input {
  width: 100%;
  background-color: #f2f2f2;
  padding: 5px;
  color: #333;
  border-radius: 8px;
}
#search-friends .user-card,
#handle-requests .user-card {
  margin: 3rem 0;
  background-color: #444;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3rem;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
  min-width: 40vw;
}

#search-friends .user-card {
  justify-content: space-between;
}

/* ///////////////// */
/* Selected Players Row */
/* ///////////////// */
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* height of the navbar */
  top: 9rem;
  left: 0;
  width: 50%;
  min-width: 10rem;
  height: 100svh;
  background-color: #010109;
  transform: translateX(0);
  transition: 0.3s all ease;
  padding: 2rem;
}
.sidebar nav {
  box-shadow: none;
  background-color: transparent;
  margin-top: 6rem;
}
.sidebar h3 {
  text-align: center;
  padding-top: 3rem;
  font-size: 1.75rem;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  margin-top: 5rem;
  padding: 1rem;
}
.sidebar ul hr {
  width: 50%;
}
.sidebar ul li {
  margin: 1rem 0;
  padding: 3px 3px 10px 3px;
  font-size: 1rem;
  text-align: center;
  border: none;
  font-size: 1.25rem;
  color: #f2f2f2;
  width: 100%;
}
.sidebar ul li:hover {
  color: #dfa315;
}
.sidebar.move {
  transform: translateX(-120%);
}
.sidebar span {
  position: absolute;
  font-size: 1.5rem;
  right: -25rem;
  top: 1.5rem;
}

#notifications-modal {
  position: relative;
  top: 55%;
  justify-content: start;
  left: 12rem;
  height: auto;
  animation: fade-in-from-left 0.75s ease forwards;
  border-radius: 8px;
  list-style: none;
  background-color: #4a4a4c;
}
#notifications-modal hr {
  margin: 0 auto;
}

@media (min-width: 825px) {
  .sidebar {
    width: 20%;
  }
}
@media (min-width: 1024px) {
  .sidebar {
    width: 10%;
  }
}
/* SLIDER */
.slidecontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slidecontainer #ratingValue {
  font-size: 3rem;
  margin: 1rem 0 3rem 0;
}
.slidecontainer .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slidecontainer .slider:hover {
  opacity: 1;
}
.slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4f4b3a;
  cursor: pointer;
  border-radius: 50%;
}
.slidecontainer .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4f4b3a;
  cursor: pointer;
  border-radius: 50%;
}

/* SORT LINEUPS */
#sort-lineups-container {
  position: absolute;
  top: 10rem;
  right: 0;
  display: none;
}
#sort-lineups-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem;
  font-family: Arial, sans-serif;
}
#sort-lineups-container form label {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
#sort-lineups-container form select {
  padding: 1rem;
  font-size: 1.5rem;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
}
#sort-lineups-container form button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  margin: 1.25rem auto;
  transition: background-color 0.3s ease;
}
#sort-lineups-container form button:hover {
  background-color: #4f4b3a;
}

#sort-lineup-activator {
  position: absolute;
  font-size: 2rem;
  top: 10rem;
  right: 1rem;
  cursor: pointer;
}

.sort-modal-container {
  position: absolute;
  top: 20rem;
  width: 95vw;
  height: 50svh;
  max-height: 50rem;
  max-width: 50rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #484848;
  animation: fade-in-from-top-positioning 0.4s ease;
  z-index: 40;
  border-radius: 8px;
}

.bg-tint {
  position: absolute;
  top: 0;
  left: 0;
  height: 100svh;
  width: 100vw;
  z-index: 39;
  background-color: rgba(0, 0, 0, 0.7725490196);
}

@media (min-width: 425px) {
  #sort-lineup-activator {
    right: 2rem;
  }
}
@media (min-width: 1024px) {
  #sort-lineups-container {
    display: block;
  }
  #sort-lineup-activator {
    display: none;
  }
}
.user-card .user-info {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.user-card .user-profile {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
}
.user-card .user-profile img {
  object-fit: cover;
  width: 8rem;
  height: 8rem;
}
.user-card h2 {
  margin: 0;
}
.user-card form button {
  margin: 0;
}
.user-card form * {
  margin-right: 4px;
}
.user-card .form-container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.user-container p {
  font-size: 2rem;
  width: 50%;
  margin: 2rem auto;
  line-height: 3.5rem;
}
.user-container button {
  margin: 2rem;
}

/* FOOTER */
#footer {
  background-color: #010109;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
#footer .text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#footer h2 {
  font-size: 2rem;
  margin: 0 0 1rem;
  width: 100%;
}
#footer p {
  font-size: 1.4rem;
  margin: 0.5rem 0;
  line-height: 1.5;
  margin: 2rem auto;
}
#footer h3 {
  font-size: 1.8rem;
  margin: 1rem 0;
}

.social-media-icon-container {
  margin: 4rem auto;
  width: 100%;
  text-align: start;
}
.social-media-icon-container i {
  color: #fff;
  margin: 0 1rem;
  font-size: 3rem;
  transition: color 0.3s;
  cursor: pointer;
}
.social-media-icon-container i:hover {
  color: #dfa315;
}

@media (min-width: 1024px) {
  /* FOOTER */
  #footer {
    padding: 2rem;
    padding-top: 10rem;
  }
  #footer .text-container {
    flex-direction: row;
  }
  #footer h2 {
    font-size: 2.4rem;
    width: 30%;
  }
  .social-media-icon-container {
    margin: 8rem auto;
    width: 75%;
  }
  .social-media-icon-container i {
    margin: 0 2rem;
    font-size: 4rem;
  }
}
/* ///////////////// */
/* Navigation */
/* ///////////////// */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #010109;
  -webkit-box-shadow: 0px 0px 11px 0px rgb(242, 242, 242);
  -moz-box-shadow: 0px 0px 11px 0px rgb(242, 242, 242);
  box-shadow: 0px 0px 11px 0px rgb(242, 242, 242);
}
nav button {
  margin: 0;
}
nav button a:hover {
  background-color: #5f583d;
  color: #f2f2f2;
}
nav button:hover {
  background-color: #5f583d;
  color: #f2f2f2;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  display: none;
}
nav ul a {
  text-decoration: none;
  color: #f2f2f2;
}
nav ul a:hover {
  color: #dfa315;
}
nav #nav-hamburger {
  z-index: 20;
  right: 2rem;
  top: 50%;
  transform: translate(0, -50%);
}

#mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  left: 50%;
  top: 0;
  width: 100vw;
  height: 100svh;
  transform: translate(-50%, -200%);
  transition: 0.5s all ease;
}
#mobile-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}

#mobile-nav.nav.move {
  transition: 0.4s all ease;
  transform: translate(-50%, 0);
}

#nav-hamburger {
  position: fixed;
  top: 2rem;
  right: 3rem;
  z-index: 30;
}

#logo {
  width: 8rem;
  margin-left: 2rem;
}

#coins-container {
  display: flex;
  align-items: center;
}
#coins-container #coins {
  width: 8rem;
}
#coins-container #coin-count {
  position: relative;
  left: -1rem;
}

.profile-img-container {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
}
.profile-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

#profile-dropdown {
  background-color: #333;
  border-radius: 8px;
  position: absolute;
  top: 10rem;
  right: 3rem;
  -webkit-box-shadow: 0px 0px 11px 0px rgb(242, 242, 242);
  -moz-box-shadow: 0px 0px 11px 0px rgb(242, 242, 242);
  box-shadow: 0px 0px 11px 0px rgb(242, 242, 242);
  /* animation: fade-in-from-top 0.3s all ease forwards; */
}
#profile-dropdown ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
#profile-dropdown ul li {
  padding: 1rem;
}
#profile-dropdown ul li:nth-child(2) {
  border-top: #444 solid 1px;
  border-bottom: #444 solid 1px;
}
#profile-dropdown ul a {
  text-wrap: nowrap;
}

@media (min-width: 425px) {
  nav ul a {
    color: yellow;
    font-size: 1.25rem;
  }
}
@media (min-width: 825px) {
  #mobile-nav, #nav-hamburger {
    display: none;
  }
  nav ul {
    display: flex;
  }
  nav ul a {
    color: blue;
  }
  #logo {
    margin-left: 8rem;
  }
}
@media (min-width: 992px) {
  nav ul a, nav ul li {
    color: orange;
  }
}
@media (min-width: 1024px) {
  nav ul a, nav ul li {
    font-size: 1.5rem;
    color: red;
  }
}
@media (min-width: 2000px) {
  nav ul a {
    color: pink;
  }
}
@media (min-width: 2500px) {
  nav ul a {
    color: teal;
  }
}
@media (min-width: 3000px) {
  nav ul a {
    color: silver;
  }
}
#add-friends-landing {
  flex-direction: column-reverse;
}
#add-friends-landing .left {
  width: 110%;
}

@media (min-width: 1024px) {
  #add-friends-landing {
    flex-direction: row;
  }
  #add-friends-landing .left {
    width: 50%;
  }
}
#commenting .text-container {
  left: 5%;
}

#error-404 .text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#error-404 .text-container h1 {
  font-size: 6rem;
}
#error-404 .text-container p {
  font-size: 3rem;
}

#error-404-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("/images/misc/chef-harden-bazemore.jpeg");
  background-size: cover;
  background-position: 0%;
  filter: brightness(50%);
  height: 100svh;
  width: 100vw;
}

#featured-landing {
  margin-top: 8rem;
}
#featured-landing .text-container {
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 1;
}

@media (min-width: 1024px) {
  #featured-landing .text-container {
    top: 0;
    width: 70%;
  }
}
/* gamble */
#gamble-landing {
  margin-bottom: 15rem;
}

/* ///////////////// */
/* Landing Page */
/* ///////////////// */
#landing {
  position: relative;
  background: url("https://s22928.pcdn.co/wp-content/uploads/2018/11/Kobe-Bryant-Dwight-Howard.jpg");
  background-size: cover;
  background-position: center;
  height: 100svh;
  width: 100vw;
  padding: 0;
  margin-top: 8rem;
}
#landing > div {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#landing h1 {
  font-size: 6rem;
}
#landing h2 {
  font-size: 2rem;
}
#landing button {
  background-color: rgba(0, 0, 0, 0.45);
  outline: #f2f2f2 1px solid;
  padding: 2rem;
  border-radius: 0;
}

section.section-landing {
  margin: 8rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #010109;
}
section.section-landing h1 {
  font-size: 3rem;
}
section.section-landing p {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: start;
}
section.section-landing .left,
section.section-landing .right {
  width: 100%;
  margin-top: 3rem;
}
section.section-landing .left img,
section.section-landing .right img {
  width: 90%;
}

/* general landing sections */
#share,
#featured-landing {
  position: relative;
  height: 100svh;
  width: 100vw;
}
#share .bg,
#featured-landing .bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 70svh;
  width: 100vw;
  /* z-index: -1; */
}

#commenting {
  position: relative;
  height: 70svh;
  width: 100vw;
}
#commenting .bg {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  height: 70svh;
  width: 100vw;
  background: url("https://www.interbasket.net/wp-content/uploads/Reggie-Miller-and-Chris-Webber-are-two-of-the-NBAs-worst-broadcasters.png");
  background-position: 15% 40%;
  filter: brightness(50%);
}
#commenting .text-container {
  position: absolute;
  top: 30rem;
  transform: translateY(-50%);
  width: 90%;
  z-index: 1;
}

#share .bg {
  background: url("https://media.bleacherreport.com/image/upload/x_0,y_0,w_2000,h_1335,c_crop/c_fill,g_faces,w_1600,h_1600,q_95/v1625592987/vgg1quininemywtx1axm.jpg");
  background-size: cover !important;
  filter: brightness(30%);
}
#share .text-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  z-index: 1;
}

#featured-landing {
  height: 70svh;
}
#featured-landing .bg {
  background: linear-gradient(rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0) 100%), url("/images/landing/olympic-paris-nba.jpeg");
  /* filter: brightness(30%); */
  background-repeat: no-repeat;
  background-position: 30% 50%;
}

@media (min-width: 825px) {
  p {
    width: 60%;
    margin: auto;
    font-size: 1.75rem !important;
    line-height: 3.25rem !important;
  }
}
@media (min-width: 1024px) {
  #landing {
    background: url("/images/landing/jordan-vs-lebron.png");
    background-size: cover;
  }
  #landing h1 {
    font-size: 12rem;
  }
  #landing h2 {
    font-size: 5rem;
  }
  section.section-landing {
    margin: 0;
    padding: 5rem;
    flex-direction: row;
    height: 100svh;
    width: 100vw;
  }
  section.section-landing h1 {
    font-size: 8rem;
  }
  section.section-landing p {
    font-size: 1.75rem;
    line-height: 3rem;
  }
  section.section-landing .left,
  section.section-landing .right {
    width: 40%;
  }
  section.section-landing .left img,
  section.section-landing .right img {
    width: 100%;
  }
  /* general landing sections */
  #commenting,
  #share,
  #featured-landing {
    position: relative;
    height: 100svh;
    width: 100vw;
  }
  #commenting .bg,
  #share .bg,
  #featured-landing .bg {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    height: 100svh;
    width: 100vw;
    /* z-index: -1; */
  }
  #commenting .bg {
    background: url("/images/landing/inside-the-nba.jpg");
    filter: brightness(50%);
  }
  #commenting .text-container {
    top: 50%;
    width: 40%;
  }
  #share .bg {
    background: url("/images/landing/kd-twitter-perl.png");
  }
  #featured-landing .bg {
    background: linear-gradient(rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0) 100%), url("/images/landing/olympic-paris-nba.jpeg");
    background-size: 90%;
    /* filter: brightness(30%); */
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
/* rating */
#rating-landing .left {
  width: 100%;
}

@media (min-width: 1024px) {
  #rating-landing .left {
    width: 40%;
  }
}
#share .text-container {
  position: absolute;
  width: 100%;
  right: 0%;
  padding: 5px;
}
#share p {
  font-size: 1.5rem;
  line-height: 3.25rem;
}

@media (min-width: 1024px) {
  #share .text-container {
    position: absolute;
    width: 40%;
    right: 5%;
  }
  #share p {
    font-size: 2.25rem;
    line-height: 3.75rem;
  }
}
/* ///////////////// */
/* View User Lineups */
/* ///////////////// */
#user-lineups {
  padding: 2rem;
}
#user-lineups p {
  font-size: 1rem;
  margin: 0;
}

.lineup-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  transition: 0.3s all ease;
}

.title-info {
  margin: auto;
}
.title-info p {
  margin: auto;
  width: 100%;
}

.lineup-card {
  background-color: rgba(186, 186, 186, 0.1568627451);
  border-radius: 1rem;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  width: 100%;
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.45);
}
.lineup-card.owner {
  border: solid 3px #d4b65c;
}

.lineup-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.lineup-header .owner-username {
  position: absolute;
  top: -1rem;
  left: 0;
  font-size: 1rem;
  text-transform: capitalize;
}
.lineup-header h2 {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  margin: 0;
}

.ts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lineup-relativeTime {
  font-size: 1rem;
  opacity: 0;
}
.lineup-relativeTime.other-user {
  position: absolute;
  right: 0;
  top: 0;
}

.lineup-edit,
.lineup-edit-close {
  position: absolute;
  top: -230%;
  right: 0;
  z-index: 10;
  font-size: 2.5rem;
  cursor: pointer;
}

.lineup-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3px;
}

.player {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  top: 0rem;
}
.player img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
  margin: auto;
}
.player .player-name {
  font-size: 0.9rem;
  text-align: center;
  bottom: -3rem;
}

.lineup-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.lineup-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
}
.lineup-actions .action-btn-container {
  display: flex;
  gap: 1rem;
  margin: auto;
}
.lineup-actions span {
  font-size: 1rem;
}
.lineup-actions button {
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.25rem;
}

.vote-btn-container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
  justify-content: center;
}

.vote-form {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.vote-form button {
  padding: 0;
  margin: 0 5px;
  background-color: none;
  color: #fff;
  cursor: pointer;
  width: 20px;
}

@media (min-width: 425px) {
  .lineup-actions span {
    font-size: 1.25rem;
  }
  .lineup-actions button {
    border: none;
    padding: 8px 16px;
    font-size: 1.5rem;
    min-width: 10rem;
  }
  .player {
    top: -1rem;
  }
  .player img {
    width: 60px;
    height: 60px;
    margin: 2rem auto;
  }
  .player .player-name {
    font-size: 1rem;
    text-align: center;
    bottom: -2.5rem;
  }
}
@media (min-width: 825px) {
  .player {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .player img {
    width: 100px;
    height: 100px;
  }
  .player .player-name {
    font-size: 1.25rem;
  }
  .lineup-actions {
    flex-direction: row;
  }
  .lineup-actions span {
    font-size: 1.5rem;
  }
  .lineup-actions button {
    border: none;
    padding: 8px 16px;
    font-size: 1.5rem;
    min-width: 10rem;
  }
}
@media (min-width: 992px) {
  .lineup-card {
    width: 45%;
  }
  .player {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .player img {
    width: 60px;
    height: 60px;
  }
  .player .player-name {
    font-size: 1.25rem;
  }
  .lineup-actions span {
    font-size: 1.25rem;
  }
  .lineup-actions button {
    padding: 4px 8px;
    font-size: 1.25rem;
    min-width: 6rem;
  }
}
@media (min-width: 1024px) {
  .lineup-actions button {
    padding: 6px 12px;
    font-size: 1.5rem;
    min-width: 8rem;
  }
}
@media (min-width: 1600px) {
  /* ///////////////// */
  /* View User Lineups */
  /* ///////////////// */
  #user-lineups {
    padding: 2rem;
  }
  #user-lineups p {
    font-size: 1.5rem;
    margin: 4rem 2rem 2rem 2rem;
  }
  .lineup-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    transition: 0.3s all ease;
    width: 90%;
    margin: auto;
  }
  .title-info {
    margin: auto;
  }
  .lineup-card {
    background-color: rgba(186, 186, 186, 0.1568627451);
    border-radius: 1rem;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    width: 40%;
    max-width: 60rem;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.45);
  }
  .lineup-card.owner {
    border: solid 3px #d4b65c;
  }
  .lineup-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .lineup-header .owner-username {
    font-size: 1.35rem;
  }
  .lineup-header h2 {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    margin: 0;
  }
  .ts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lineup-relativeTime {
    font-size: 1.25rem;
    opacity: 1;
  }
  .lineup-relativeTime.other-user {
    position: absolute;
    right: 0;
    top: 0;
  }
  .lineup-edit,
  .lineup-edit-close {
    position: absolute;
    top: -230%;
    right: 0;
    z-index: 10;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .lineup-players {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    gap: 1.5rem;
  }
  .player {
    text-align: center;
    min-height: 15rem;
  }
  .player img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
  }
  .player .player-name {
    font-size: 1.5rem;
  }
  .lineup-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lineup-actions {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .lineup-actions span {
    font-size: 1.4rem;
  }
  .lineup-actions button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .vote-btn-container {
    display: flex;
    position: relative;
    gap: 3rem;
  }
  .vote-form {
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
  }
  .vote-form button {
    padding: 0;
    margin: 0 5px;
    background-color: none;
    color: #fff;
    cursor: pointer;
  }
}
#profile .banner {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 120rem;
  margin: auto;
  padding: 1rem;
}
#profile .banner-container {
  position: relative;
  width: 100vw;
}
#profile .banner-container .bg {
  position: absolute;
}
#profile .banner > div {
  width: 100%;
}
#profile .lineup-container {
  width: 100vw;
}
#profile #profile-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#profile #username-p {
  margin: 1rem 2rem;
  width: auto;
  font-size: 1.5rem;
}
#profile #gear {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 2.5rem;
  right: 1rem;
}
#profile .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
#profile .row button {
  margin: 1rem;
  width: 100px;
  padding: 8px;
}
#profile .row .btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#profile .row-2, #profile .row-3 {
  flex-direction: row;
  position: relative;
  left: -4rem;
  justify-content: space-around;
  font-size: 1.5rem;
}
#profile .row-1 {
  position: relative;
}
#profile .row-3 span {
  color: rgba(214, 214, 214, 0.5647058824);
}
#profile #bio {
  margin: 4rem auto;
  font-size: 1.25rem;
  line-height: 3.25rem;
  padding: 1.5rem;
}
#profile .pf {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 1px rgba(242, 242, 242, 0.5647058824);
  width: 90%;
  margin: 1rem auto;
}
#profile .pf-head {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
#profile .pf-head div {
  padding: 1.5rem 2rem;
  cursor: pointer;
}
#profile .pf-head div span {
  margin-left: 1rem;
  text-transform: capitalize;
  font-size: 1.1rem;
}
#profile .pf-body .social-media li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: rgba(79, 79, 79, 0.5647058824);
  margin: 1.5rem 0;
  border-radius: 8px;
}
#profile .pf-body .social-media li span {
  font-size: 1.5rem;
}
#profile .pf-body .social-media li button {
  margin: 0 0 0 2rem;
  min-width: 8rem;
}

@media (min-width: 1024px) {
  #profile .banner {
    flex-direction: row;
  }
  #profile-img {
    width: 150px;
    height: 150px;
  }
  #username-p {
    margin: 0 2rem;
  }
  .row {
    flex-direction: row;
  }
  .row button {
    width: 15rem;
    margin: 0 1rem;
  }
  .row-2 {
    width: 50%;
    margin: auto;
  }
  .pf-head div span {
    font-size: 2rem;
  }
  .pf-body .social-media li {
    min-width: 40rem;
  }
  .pf-body .social-media li span {
    font-size: 2rem;
  }
}
#edit-profile .form-container {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: rgba(186, 186, 186, 0.1568627451);
  width: 90vw;
  max-width: 50rem;
  margin: auto;
}
#edit-profile form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
}
#edit-profile input {
  margin: 1rem 0;
  width: 80%;
}
#edit-profile label {
  text-transform: capitalize;
  margin-top: 2rem;
  font-size: 1.75rem;
}
#edit-profile legend {
  font-size: 2rem;
  margin: 2rem 0;
}
#edit-profile button {
  margin-top: 1rem;
}

.profile-img-edit-container {
  display: flex;
  justify-content: center;
  margin: 4rem 0 2rem 0;
}
.profile-img-edit-container img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.profile-img-edit-container .profile-img-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}
.profile-img-edit-container .profile-img-btns button {
  margin: 2rem 0;
}
.profile-img-edit-container .profile-img-btns p {
  margin: 2rem 0;
}

/* welcome */
#welcome {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
}
#welcome .right {
  width: 100%;
  padding: 1rem;
}

@media (min-width: 1024px) {
  #welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #welcome .left img {
    width: 55vw;
  }
  #welcome .right {
    width: 35%;
    padding: 3rem;
    margin-left: 15rem;
  }
}
.fa-angles-right {
  font-size: 7rem;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

.player.random {
  animation: fade-in 3s ease forwards;
}

.num-of-votes {
  position: absolute;
  top: 72.5%;
  left: 50%;
  transform: translate(-55%, -50%);
  font-size: 1.53rem;
}

/* ///////////////// */
/* Explore Lineups */
/* ///////////////// */
/* ///////////////// */
/* Additional Styles */
/* ///////////////// */
.welcome-message {
  margin-bottom: 2rem;
}

/*# sourceMappingURL=style.css.map */
