/* ///////////////// */
/* General Styles */
/* ///////////////// */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

section {
  margin-top: 8rem;
}

/* ///////////////// */
/* Navigation */
/* ///////////////// */
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #010109;
}

#logo {
  width: 8rem;
  margin-left: 8rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

nav a {
  text-decoration: none;
  color: #f2f2f2;
}

nav a:hover {
  color: #dfa315;
}

#coins-container {
  display: flex;
  align-items: center;
}

#coins {
  width: 8rem;
}

#coin-count {
  position: relative;
  left: -1rem;
}

.profile-img-container {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ///////////////// */
/* Create Lineup */
/* ///////////////// */
#create-lineup {
  display: flex;
  align-items: center;
  justify-content: center;
}

#create-lineup .left-container {
  margin: 2rem auto;
  width: 50%;
  max-width: 80rem;
}

#create-lineup .right-container {
  width: 30%;
  margin-right: auto;
}

#create-lineup h2 {
  margin-right: 3rem;
}

#create-lineup header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#create-lineup header span {
  font-size: 3rem;
  position: absolute;
  top: 2.5%;
  right: 15%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.4rem;
  margin: 1rem 0;
}

/* ///////////////// */
/* Links */
/* ///////////////// */
a {
  color: #28a745;
  text-decoration: none;
  font-size: 1.6rem;
}

a:hover {
  color: #218838;
}

/* ///////////////// */
/* Forms */
/* ///////////////// */
#create-lineup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #333;
  padding: 1rem;
  border-radius: 0.5rem;
}

label {
  font-size: 1.4rem;
}

input {
  font-size: 1.4rem;
  padding: 0.5rem;
  border: 0.1rem solid #555;
  border-radius: 0.5rem;
  max-width: 30rem;
}

button,
.vote-form {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

button:hover {
  background-color: #218838;
}

/* ///////////////// */
/* Additional Styles */
/* ///////////////// */
.welcome-message {
  margin-bottom: 2rem;
}

/* ///////////////// */
/* Grid for Lineup Creation */
/* ///////////////// */
.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.row-container {
  display: flex;
  align-items: center;
}

#create-lineup .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.cell {
  width: 8rem;
  height: 8rem;
  margin: 0 0.5rem;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: #f2f2f2;
}

.cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.player-name {
  text-align: center;
  margin-top: 0.5rem;
}

.player-name span {
  display: block;
  font-size: 1.2rem;
}

/* ///////////////// */
/* Selected Players Row */
/* ///////////////// */
.selected-players {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;
}

.selected-cell {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-player-btn {
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
  background-color: rgb(216, 38, 38);
  color: #f2f2f2;
  position: absolute;
  top: -30%;
  left: -10%;
  z-index: 10;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
}

.remove-player-btn * {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dim-player {
  filter: brightness(50%) grayscale(100%);
}

/* ///////////////// */
/* View User Lineups */
/* ///////////////// */
#user-lineups {
  padding: 2rem;
}

.lineup-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.lineup-card {
  background-color: #444;
  border-radius: 1rem;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  width: 40%;
  max-width: 60rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.lineup-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.lineup-relativeTime {
  font-size: 1.25rem;
}

.lineup-header h2 {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  margin: 0;
}

.lineup-edit,
.lineup-edit-close {
  position: absolute;
  top: -230%;
  right: 0;
  z-index: 10;
  font-size: 2.5rem;
  cursor: pointer;
}

.lineup-players {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.player {
  text-align: center;
}

.player img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.player-name {
  font-size: 1.5rem;
}

.lineup-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lineup-actions {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.lineup-actions span {
  font-size: 1.4rem;
}

.lineup-actions button {
  background-color: #28a745;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.vote-btn-container {
  display: flex;
}

.vote-form button {
  padding: 0;
  margin: 0 5px;
  background-color: none;
  color: #fff;
  cursor: pointer;
}

.vote-form {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}

/* ///////////////// */
/* Edit Lineup */
/* ///////////////// */
#user-lineups a {
  color: #fff;
}

.lineup-actions button:hover {
  background-color: #218838;
}

#user-lineups footer {
  display: flex;
}

#edit-lineup header {
    margin-bottom: 4rem;
}

#edit-lineup .lineup-edit-close {
  top: -3rem;
  right: 0;
  color: rgb(221, 90, 90);
  font-size: 2.25rem;
}

#edit-lineup .lineup-card {
  background-color: #444;
  border-radius: 10px;
  padding: 35px 15px 15px 15px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 50%;
  max-width: 80rem;
}
#edit-lineup .player {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lineup-actions button {
  min-width: 8rem;
}

#edit-lineup .lineup-actions {
  justify-content: center;
  gap: 2rem;
}
.lineup-btn.delete,
.edit-modals.delete button {
  background-color: rgb(221, 90, 90);
}
.lineup-btn.gamble {
  background-color: #dfa315;
}
.lineup-btn.delete:hover,
.edit-modals.delete button:hover {
  background-color: rgb(174, 70, 70);
}
.lineup-btn.gamble:hover {
  background-color: #bd8a12;
}
.edit-modals {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  width: 50vw;
  max-width: 50rem;
  background-color: #555;
  color: #f2f2f2;
  border-radius: 4px;
}
.edit-modals a,
.edit-modals button {
  margin: 2rem;
}
/* ////////////////// */
/* gamble section */
/* ////////////////// */
.player-text.gamble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
}
.player-text.gamble span:first-child {
  font-size: 2rem;
  margin: 1rem 0;
}

.lineup-players.gamble {
  position: relative;
}

.select-gamble {
  outline: solid 5px gold;
}
#confirm-player-to-gamble a {
  color: #f2f2f2;
}

.disabled-btn,
.disabled-btn:hover {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #627b68;
}

.cancel-btn {
  color: #f2f2f2;
}
.cancel-btn:hover {
  color: #f2f2f2;
}

/* icons */

.fa-angles-right {
  font-size: 7rem;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
