@use '../abstracts/' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  background-color: $theme-darkest;
  color: $white;
  text-align: center;
}

section {
  margin-top: 10rem;
}

// section {
//   animation: fadeIn 0.3s ease-out;
// }

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}


  
  /* ///////////////// */
  /* Links */
  /* ///////////////// */
  a {
    color: $highlight-gold;
    text-decoration: none;
    font-size: 1.6rem;
    &:hover {
      color: $highlight-gold;
    }
  }
  
  