.fa-angles-right {
    font-size: 7rem;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
  }
  .player.random {
    animation: fade-in 3s ease forwards;
  }
// breask
  .num-of-votes {
    position: absolute;
    top: 72.5%;
    left: 50%;
    transform: translate(-55%, -50%);
    font-size: 1.53rem;
  }

  /* ///////////////// */
/* Explore Lineups */
/* ///////////////// */


  /* ///////////////// */
/* Additional Styles */
/* ///////////////// */
.welcome-message {
    margin-bottom: 2rem;
  }