#search-players {
  .content {
    position: relative;
    display: flex;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      position: absolute;
      right: 10rem;
      select {
        padding: 1rem;
        border-radius: 8px;
      }
    }
  }
}

#player-container {
  width: 80%;
  max-width: 90rem;
  display: flex;
  margin: 5rem auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8rem;
}

#filter-by-value {
  display: none;
  margin: 0;
}

#sort-players-container {
  display: block;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:12px

}
@media (max-width: 768px) {
  #sort-players-container {
    display: none;
  }
  #filter-by-value {
    display: flex;
  }
  #search-players {
    .content {
      form {
        background-color: rgb(46, 46, 46);
        padding: 2rem;
        border-radius: 4px;
        margin-top: 2rem;
      }
    }
  }
}
