#search-friends,
#handle-requests {
  display: flex;
  flex-direction: column;
  align-items: center;

  #search-friends-input {
    width: 100%;
    background-color: #f2f2f2;
    padding: 5px;
    color: #333;
    border-radius: 8px;
  }
.edit-friend-btn-container {
  button {
    min-width: 13rem;
  }
}
  .user-card {
    margin: 3rem 0;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3rem;
    padding: 2rem;
    border-radius: 8px;
    position: relative;
    min-width: 40vw;
  }
}
#search-friends {
  .user-card {
    justify-content: space-between;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    button {
      min-width: 13rem;
    }
  }
}
