@use '../abstracts/' as *;


/* SORT LINEUPS */
#sort-lineups-container {
  position: absolute;
  top: 10rem;
  right: 0;
  display: none;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem;
    font-family: Arial, sans-serif;

    label {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    select {
      padding: 1rem;
      font-size: 1.5rem;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 20rem;
    }

    button {
      padding: 1rem 2rem;
      font-size: 1.5rem;
      margin: 1.25rem auto;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #4f4b3a;
      }
    }
  }
}

#sort-lineup-activator {
  position: absolute;
  font-size: 2rem;
  top: 10rem;
  right: 1rem;
  cursor: pointer;
}

.sort-modal-container {
  position: absolute;
  top: 20rem;
  width: 95vw;
  height: 50svh;
  max-height: 50rem;
  max-width: 50rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #484848;
animation: fade-in-from-top-positioning .4s ease;
  z-index: 40;border-radius: 8px;
 
}

.bg-tint {
  position: absolute;
  top:0;
  left:0;
  height: 100svh;
  width: 100vw;
  z-index: 39;
  background-color: #000000c5;
}

@media (min-width: 425px) {
  #sort-lineup-activator {
    right: 2rem;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1024px) {
  #sort-lineups-container {
    display: block;
  }
  #sort-lineup-activator {
    display: none;
  }
}
